:root {
  --background: #171722;
  --background-secondary: #212331;
  --foreground: #a9b1d6;
  --accent: #7aa2f7;
}

html,
body {
  padding: 0px;
  margin: 0px;

  width: 100%;
  height: 100%;

  font-family: 'JetBrainsMono Nerd Font', monospace;
  color: var(--foreground);
  background: var(--background-secondary);
}

* {
  border-radius: 8px;
}

.title {
  color: var(--accent)
}

a,
a:visited {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
}

.row {
  padding: 1.4em;
}

.col-sm-3 {
  padding: 2em;
  background: #1a1b26;
}

.col-sm-8 {
  padding: 2em;
  background: var(--background);
}

.col-sm-3 {
  height: 100%;
  margin: 2em;
}

.img-fluid {
  margin-bottom: 30px;
}
.social {
  color: #9ece6a;
}
.media {
  color: #bb9af7;
}
.docs {
  color: #e0af68;
}
.others {
  color: #f7768e;
}
